<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ToDoリスト</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <h1>ToDoアプリ</h1>
    <div id="todoList">
      <h2>ToDoの追加</h2>
      <input v-model="newTodo" />
      <button @click="addTodo(newTodo)">追加</button>
      <p v-if="hasInput">{{ errorMessage }}</p>

      <h2>ToDoの確認</h2>
      <ul>
        <li v-for="todo in todoItems" :key="todo.id">
          <div v-if="todo.isEdit"><input v-model="todo.text" /></div>
          <div v-else>{{todo.text}}</div>

          <button @click="editTodo(todo)">編集</button>
          <button @click="removeTodo(todo)">削除</button>
        </li>
      </ul>
    </div>
    <script src="main.js"></script>
  </body>
</html>
