<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ToDoリスト</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <h1>ToDoアプリ</h1>
    <div id="todoList">
      <h2>ToDo追加</h2>
      <form @submit.prevent="addTodo">
        <input v-model="newTodo" />
        <button>追加</button>
      </form>
      <p v-show="hasInput">{{ errorMessage }}</p>

      <h2>ToDo一覧</h2>
      <ul>
        <li v-for="(todo, index) in todoItems" :key="todo">
          <form>
            <input v-model="todo" />
          </form>
          <button @click="editTodo(index, todo)">更新</button>
          <button @click="removeTodo(index)">削除</button>
        </li>
      </ul>
    </div>
    <script src="main.js"></script>
  </body>
</html>
